name: Cloud Order Management CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  order-service:
    name: Order Service - Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore services/order-service/OrderService.sln

      - name: Build
        run: dotnet build services/order-service/OrderService.sln --no-restore --configuration Release

      - name: Test
        run: dotnet test services/order-service/OrderService.sln --no-build --configuration Release
